<!DOCTYPE html>
<html class="" lang="en">
  <!-- Mirrored from craftohtml.themezaa.com// by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2024 09:14:04 GMT -->
  <head>
    <title><%= page.title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Comet Digisol" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="title" content="<%= page.meta_title %>" />
    <meta name="description" content="<%= page.meta_desc %>" />

    <link
      rel="shortcut icon"
      href="/api/transform/<%=JSON.parse(footerData.store_setting[0].logo2) %>"
    />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/apple-touch-icon-114x114.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link
      rel="stylesheet"
      type="text/css"
      href="/revolution/css/settings.css"
    />
    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/revolution/css/navigation.css"
    />

    <link rel="stylesheet" href="/css/vendors.min.css" />
    <link rel="stylesheet" href="/css/icon.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/responsive.min.css" />
    <link rel="stylesheet" href="/demos/architecture/architecture.css" />
  </head>
</html>
